#main
  %h3 Edit Product

  %p= link_to "Cancel", product_path(@product)
  %p= link_to "Delete product", product_path(@product), :method => :delete

  = form_for @product do |form|

    %p=form.label :name
    %p=form.text_field :name

    %p=form.label :description
    %p=form.text_field :description

    %p=form.label :minimum_age_appropriate
    %p=form.number_field :minimum_age_appropriate

    %p=form.label :maximum_age_appropriate
    %p=form.number_field :maximum_age_appropriate

    %p=form.label :price
    %p=form.number_field :price

    %p=form.label :image
    %p=form.file_field :image

    %p=form.submit

  %p= link_to "Cancel", product_path(@product)
